
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a:hover{color: #ffffff;}
Link:hover{color: #ffffff;}
/* chakra-link:hover {color: #ffffff;} */

.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
  height: 50px !important;
  width: 50px !important;
}

.image-gallery-content .image-gallery-slide .image-gallery-image{
  border-radius: 20px !important;
  box-shadow: 5px 5px 15px #8c06f730 !important;
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
  border-radius: 14px !important;
  box-shadow: 5px 5px 15px #8c06f730 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
